body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    display: table;
}

.title {
    font-size: 96px;
    margin-bottom: 40px;
    font-family: 'Libre Barcode 128 Text';
    text-align: center;
    color: #3F3F3F
} 

.text {
    font-size: 30px;
    font-family: 'Open Sans', sans-serif;
    text-align: left;
    color: #3F3F3F
}

.description {
    left: 50%;
    position: absolute;
    top: 45%;
    transform: translate(-50%, -55%);
}

#content {
    margin: auto;
    text-align: center;
    padding-top: 25%;
}